
<div style="height: 24pt"><p/></div>

<button class="accordion"><i>{{ui.about_comparison}}</i></button>
<div class="panel">
<p>{{ui.about_z_intro}}</p>
<ul>
<li>{{ui.about_z_positive_negative}}</li>
<li>{{ui.about_z_average_bag}} <a href="https://github.com/NVIDIA/garak/blob/main/garak/data/calibration/bag.md">{{ui.about_z_details}}</a></li>
<li>{{ui.about_z_range}}</li>
<li>{{ui.about_z_middle_band}}</li>
<li>{{ui.about_z_plus_one}}</li>
{%if calibration_date != ""%}
<li>{{ui.about_z_calibration_run|replace("{{model_count}}", model_count|string)|replace("{{calibration_date}}", calibration_date)}}</li>
<li>{{ui.about_z_model_reports}} <i>{{model_list}}</i>.</li>
{%endif%}
</ul>
</div>
