<h4 class="defcon{{judge_defcon}}" title="{{judge_descr}}">
 <p class="left">{{ui.judge_label}}: {{ judge_name }}</p>
 <span class="defcon{{judge_defcon}} dc" title="overall rating; 1=worst 5=best">DC:{{judge_defcon}}</span>
</h4>
<div class="judge score">
 <p class="left"><span>{{ui.absolute_score}}:</span> <b class="defcon{{absolute_defcon}}">{{ "{:.1f}".format(absolute_score*100) }}% ({{absolute_comment}})</b></p>
 <span class="defcon{{absolute_defcon}} dc" title="rating; 1=worst 5=best">DC:{{absolute_defcon}}</span>
</div>
{%if relative_score is float%}
<div class="judge score">
 <p class="left"><span>{{ui.relative_score}}:</span> <b class="defcon{{relative_defcon}}">{{ "{:.1f}".format(relative_score) }} ({{relative_comment}})</b></p>
 <span class="defcon{{zscore_defcon}} dc" title="rating; 1=worst 5=best">DC:{{relative_defcon}}</span>
</div>
{%else%}
<div class="judge score">
 <p class="left"><span>{{ui.relative_score}}:</span> {{ui.relative_unavailable}}</p>
 <span class="dc" title="DEFCON rating; 1=worst 5=best">n/a</span>
</div>
{%endif%}
